/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template


Created on : Oct 30, 2023, 7:34:46 PM
Author     : PC*/


* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    outline: none;    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 10px;
    }
}

button {
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #505763;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

input {
    border-radius: 5px;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

#header {
    margin-bottom: 25px;
}

#header .container .header-banner {
    position: relative;
}

#header .container .header-banner img {
    width: 100%;
}

#header .container .header-navbar {
    position: relative;
}

#header .container .header-navbar .nav-left-right .header-navbar--content {
    justify-content: space-evenly;
}

#header .container .header-navbar .nav-left-right .header-navbar--content .navbar-select {
    width: 100%;
}

#header .container .header-navbar .nav-left-right .header-navbar--content .navbar-select ul {
    display: flex;
    justify-content: space-around;
}

#header .container .header-navbar .nav-left-right .header-navbar--content .navbar-select ul li {
    padding-left: 10px;
    margin-right: 10px;
}

#header .container .header-navbar .nav-left-right .header-navbar--content .navbar-select form {
    padding: 10px;
    width: 60%;
    display: inline-block;
}

#header #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel .container {
    padding: 0;
}

.carousel .container img {
    width: 100%;
}

.filter {
    margin: 25px 0;
}

.filter .container .row .card {
    text-align: center;
}

.filter .container .row .card a {
    width: 100px;
    height: 25px;
}

.filter .container .row .card a img {
    width: 100%;
    height: 100%;
}

.filter .container .row .dropdown {
    margin-right: 20px;
}

.filter .container .row .dropdown a {
    padding: 10px;
}


/*21/11/2023*/
.item .card_top{
    height: 200px;
    width: 100%;
}

.item .card_top .image_product{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.limit-lines-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.limit-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Số dòng tối đa hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Thêm ba chấm nếu quá dài */
}

/*.item .item-title {
    padding-left: 15px;
}

.item .item-content {
    padding: 15px 15px 0 15px;
    border: 1px solid black;
}

.item .item-content .card-group {
    padding-bottom: 30px;
}

.item .item-content .card-group .card {
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.item .item-content .card-group .card a {
    text-decoration: none;
    color: black;
    display: block;
}

.item .item-content .card-group .card a .card-header {
    padding: 0;
}

.item .item-content .card-group .card a .card-header img {
    width: 100%;
}

.item .item-content .card-group .card-laptop-item {
    margin: 0;
    padding: 0;
}

.item .item-content .card-group .card-laptop-item a {
    display: block;
    height: 100%;
}

.item .item-content .card-group .card-laptop-item a .card-header {
    height: 50%;
}

.item .item-content .card-group .card-laptop-item a .card-header img {
    width: 100%;
    height: 100%;
}

.item .item-content .card-group .card-laptop-item a .card-body {
    height: 35%;
}

.item .item-content .card-group .card-laptop-item a .card-footer {
    height: 15%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.item .item-content .card-group .card-laptop-item a .card-footer span:nth-child(2) {
    font-size: 1.4rem;
    color: red;
}*/

.bestseller .bestseller-title {
    padding-left: 15px;
}

.bestseller .bestseller-content {
    padding: 15px 15px 0 15px;
    border: 1px solid black;
}

.bestseller .bestseller-content .card-group {
    padding-bottom: 30px;
}

.bestseller .bestseller-content .card-group .card {
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.bestseller .bestseller-content .card-group .card a {
    text-decoration: none;
    color: black;
    display: block;
}

.bestseller .bestseller-content .card-group .card a .card-header {
    padding: 0;
}

.bestseller .bestseller-content .card-group .card a .card-header img {
    width: 100%;
}

.bestseller .bestseller-content .card-group .card-laptop-item {
    margin: 0;
    padding: 0;
}

.bestseller .bestseller-content .card-group .card-laptop-item a {
    display: block;
    height: 100%;
}

.bestseller .bestseller-content .card-group .card-laptop-item a .card-header {
    height: 50%;
}

.bestseller .bestseller-content .card-group .card-laptop-item a .card-header img {
    width: 100%;
    height: 100%;
}

.bestseller .bestseller-content .card-group .card-laptop-item a .card-body {
    height: 35%;
}

.bestseller .bestseller-content .card-group .card-laptop-item a .card-footer {
    height: 15%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.bestseller .bestseller-content .card-group .card-laptop-item a .card-footer span:nth-child(2) {
    font-size: 1.4rem;
    color: red;
}

/*.sales .col-12 {
    padding: 0;
}

.sales .sales-title {
    padding-left: 15px;
}

.sales .sales-content {
    padding: 15px 15px 0 15px;
    border: 1px solid black;
}

.sales .sales-content .card-group {
    padding-bottom: 30px;
}

.sales .sales-content .card-group .card {
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.sales .sales-content .card-group .card a {
    text-decoration: none;
    color: black;
    display: block;
}

.sales .sales-content .card-group .card a .card-header {
    padding: 0;
}

.sales .sales-content .card-group .card a .card-header img {
    width: 100%;
}

.sales .sales-content .card-group .card-laptop-item {
    margin: 0;
    padding: 0;
}

.sales .sales-content .card-group .card-laptop-item a {
    display: block;
    height: 100%;
}

.sales .sales-content .card-group .card-laptop-item a .card-header {
    height: 50%;
}

.sales .sales-content .card-group .card-laptop-item a .card-header img {
    width: 100%;
    height: 100%;
}

.sales .sales-content .card-group .card-laptop-item a .card-body {
    height: 35%;
}

.sales .sales-content .card-group .card-laptop-item a .card-footer {
    height: 15%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.sales .sales-content .card-group .card-laptop-item a .card-footer span:nth-child(2) {
    font-size: 1.4rem;
    color: red;
}

.contact .container .contact-title h2 {
    padding: 25px 0 0 15px;
}

.contact .container .contact-form .contact__content {
    display: flex;
    margin-bottom: 3rem;
}

.contact .container .contact-form .contact__content .contact__left {
    width: 50%;
    margin: 0 1rem;
}

.contact .container .contact-form .contact__content .contact__right {
    width: 50%;
    margin: 0 1rem;
}

.contact .container .contact-form .contact__content .contact__right button {
    padding: 1rem 16.3rem;
    color: black;
    margin: 1rem 0;
    transition: all 0.5s;
}

.contact .container .contact-form .contact__content input, .contact .container .contact-form .contact__content textarea {
    background-color: #EFEFEF;
    border: 0px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: white;
    resize: none;
    font-weight: bold;
    border-bottom: 3px solid #BBBBBB;
}

.contact .container .contact-form .contact__content input:focus, .contact .container .contact-form .contact__content textarea:focus {
    outline: none;
}*/

footer {
    margin-top: 20px;
    
}

footer ul li {
    list-style-type: none;
}

footer .bottom {
    width: 80%;
    margin: 0 auto;
}

footer .bottom p {
    text-align: center;
}

/*.about_item .container .about_item-intro img {
    width: 100%;
    height: 100%;
}

.cartItem .container #tblItem {
    text-align: center;
    border-spacing: 10px;
}

.cartItem .container #tblItem #tblHead tr {
    width: 100%;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(1) img {
    width: 150px;
    height: 150px;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(2) {
    width: 25%;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(3) {
    color: orangered;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(4) input {
    width: 30%;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(5) {
    color: orangered;
}

.cartItem .container #tblItem #tblFooter {
    text-align: left;
}

@media screen and (max-width: 500px) {
    .cartItem .container #tblItem {
        text-align: center;
        border-spacing: 2px;
    }
    .cartItem .container #tblItem #tblHead tr {
        width: 100%;
    }
    .cartItem .container #tblItem #tblBody tr td:nth-child(1) img {
        width: 50px;
        height: 50px;
    }
    .cartItem .container #tblItem #tblBody tr td:nth-child(3) {
        color: orangered;
    }
    .cartItem .container #tblItem #tblBody tr td:nth-child(4) input {
        width: 3px;
    }
    .cartItem .container #tblItem #tblBody tr td:nth-child(5) {
        color: orangered;
    }
    .cartItem .container #tblItem #tblFooter {
        text-align: left;
    }
}*/

/*#account .container .row #account__left {
    width: 20%;
}

#account .container .row #account__left ul {
    list-style-type: none;
}

#account .container .row #account__left ul li {
    margin-left: 10px;
}

#account .container .row #account__left ul li a {
    color: black;
    display: block;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
}

#account .container .row #account__left ul .active {
    background-color: #ffa600;
}

#account .container .row #account__right {
    width: 75%;
    margin: 0 auto;
}

#account .container .row #account__right #myAccount {
    display: block;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan {
    display: flex;
    justify-content: space-around;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img i {
    font-size: 25px;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
    display: none;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img:hover {
    cursor: pointer;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img:hover i {
    display: block;
}

#account .container .row #account__right #trangThaiDonHang {
    display: none;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem {
    width: 100%;
    text-align: center;
    border-spacing: 10px;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblHead tr {
    width: 100%;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblBody tr td:nth-child(1) img {
    width: 150px;
    height: 150px;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblBody tr td:nth-child(4) {
    color: orangered;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblBody tr td:nth-child(6) {
    color: orangered;
}

#account .container .row #account__right #lichSuMuaHang {
    display: none;
}

#account .container .row #account__right #lichSuMuaHang .lichSuMuaHang #tblItem {
    width: 100%;
    text-align: center;
    border-spacing: 10px;
}

#account .container .row #account__right #lichSuMuaHang .lichSuMuaHang #tblItem #lichSuMuaHang_tblHead tr {
    width: 100%;
}

#account .container .row #account__right #lichSuMuaHang .lichSuMuaHang #tblItem #lichSuMuaHang_tblBody tr td:nth-child(1) img {
    width: 150px;
    height: 150px;
}

#account .container .row #account__right #lichSuMuaHang .lichSuMuaHang #tblItem #lichSuMuaHang_tblBody tr td:nth-child(4) {
    color: orangered;
}

#account .container .row #account__right #lichSuMuaHang .lichSuMuaHang #tblItem #lichSuMuaHang_tblBody tr td:nth-child(6) {
    color: orangered;
}

#account .container .row #account__right #doiMatKhau {
    display: none;
}

#account .container .row #account__right #doiMatKhau form {
    width: 50%;
    margin: 50px auto;
}

#payment .container #payment-title {
    color: #212121;
}

#payment .container #checkout-center #parentHorizontalTab ul {
    margin-top: 1.5em;
    display: flex;
}

#payment .container #checkout-center #parentHorizontalTab ul li {
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: 2em;
    vertical-align: top;
    text-align: center;
}

#payment .container #checkout-center #parentHorizontalTab ul li span {
    display: block;
    font-size: 0.5em;
    color: #999;
}

#payment .container #checkout-center #parentHorizontalTab ul li:first-child {
    width: 50%;
    border-right: 1px solid #999;
}

#payment .container #checkout-center #parentHorizontalTab ul li:last-child {
    width: 50%;
}

#payment .container #checkout-center #parentHorizontalTab ul li:hover {
    cursor: pointer;
}

#payment .container #checkout-center #parentHorizontalTab #card-creditOrDebit {
    display: block;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form {
    display: none;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form p {
    color: #8b8b8b;
    font-size: 0.95em;
    line-height: 1.8em;
    font-weight: 400;
    margin: 10px 0;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form .pp-img {
    width: 65%;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form .number-paymk input[type="submit"] {
    background: #0879c9;
    color: #ffffff;
    text-align: center;
    padding: 11px 19px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 30px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form .number-paymk input[type="submit"]:hover {
    background: #f45c5d;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

#payment .container #checkout-center #parentHorizontalTab #payment-paypal-form .number-paymk input[type="submit"] .btn-primary {
    background-color: #3a5795;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    border: none;
}

#payment .container #checkout-center .form-control {
    border-radius: 0;
}

#payment .container #codPayment {
    position: relative;
    padding: 0 1rem;
    height: 30px;
    line-height: 30px;
    background: #1275ff;
    border: 0px solid transparent;
}

#payment .container #codPayment a {
    color: white;
    font-weight: 600;
}

.searchItem .searchItem-title {
    padding-left: 15px;
}

.searchItem .searchItem-content {
    padding: 15px 15px 0 15px;
    border: 1px solid black;
}

.searchItem .searchItem-content .card-group {
    padding-bottom: 30px;
}

.searchItem .searchItem-content .card-group .card {
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.searchItem .searchItem-content .card-group .card a {
    text-decoration: none;
    color: black;
    display: block;
}

.searchItem .searchItem-content .card-group .card a .card-header {
    padding: 0;
}

.searchItem .searchItem-content .card-group .card a .card-header img {
    width: 100%;
}

.searchItem .searchItem-content .card-group .card-laptop-item {
    margin: 0;
    padding: 0;
}

.searchItem .searchItem-content .card-group .card-laptop-item a {
    display: block;
    height: 100%;
}

.searchItem .searchItem-content .card-group .card-laptop-item a .card-header {
    height: 50%;
}

.searchItem .searchItem-content .card-group .card-laptop-item a .card-header img {
    width: 100%;
    height: 100%;
}

.searchItem .searchItem-content .card-group .card-laptop-item a .card-body {
    height: 35%;
}

.searchItem .searchItem-content .card-group .card-laptop-item a .card-footer {
    height: 15%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.searchItem .searchItem-content .card-group .card-laptop-item a .card-footer span:nth-child(2) {
    font-size: 1.4rem;
    color: red;
}*/
/*# sourceMappingURL=main.css.map*/ 